# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

#### Objectives

* List popular languages for Data Science
* Commonly used libraries in Data Science 
* Evaluating arithmetic expressions
* Tools for Data Science

Some of the popular languages that Data Scientists use are:

* Python
* R
* SQL

Some of the commonly used libraries used by Data Scientists include:

* Pandas
* Scikit-learn
* Numpy

|Data Science Tools | 
|:----:|
|R studio|
|Jupyter|
|Apache Zepplin|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [12]:
# This a simple arithmetic expression to mutiply then add integers.

(3*4)+5

17

In [13]:
# This will convert 200 minutes to hours by diving by 60

minutes =200
200/ 60

3.3333333333333335

## Author
Abdul Manan